@CHARSET "UTF-8";
body {
	background-color:#ffffff;
	font-family		: arial, sans-serif;
	padding			: 0px;
	margin			: 0px;
	font-size		: 12px;
	color			: #000000;
}

a, a:visited {
	color			: #3366CC;
	text-decoration	: none;
}

a:hover {
	color			: #3366CC;
	text-decoration	: underline;
}

div {
	text-align : left;	
}

#headerDiv {
	background-color: #e5ecf9;
	color			: #3366CC;
	line-height		: 42px;
	font-weight		: bold;
	height			: 42px;
	width			: 960px;
	margin			: auto;
	margin-bottom	: 12px;
	margin-top		: 12px;
}

#headerDiv #headerLogo {
	font-size		: 22px;
	font-weight		: bold;
	padding-left	: 12px;	
}

#headerDiv #searchDiv {
	float			: right;
	margin-right	: 12px;
}

#headerDiv #userMenuDiv {
	float			: right;
}

#contentDiv {
	min-height		: 400px;
	margin			: auto;
	width			: 960px;
}

form#register div {
	font-size		: 12px;
	line-height		: 18px;
	margin-bottom	: 2px;
}

form#register div .label {
	width			: 120px;
	float			: left;
}

.blue, .borderBlue {
	background-color: #e5ecf9;
	padding			: 12px;
}

.borderBlue {
	border			: 1px solid #3366cc;
}

#profileInfo {
	min-height		: 180px;
	width			: 120px;
	float			: left;
}

#profileContent, #profileContentWide {
	padding-left	: 12px;
	width			: 502px;
	float			: left;
}

#profileContentWide {
	width			: 802px;
}

#profileFriends {
	padding-left	: 12px;
	padding-bottom	: 12px;
	width			: 286px;
	float			: left;
	border			: 1px solid #7aa5d6;
}

.header {
	font-size		: 12px;
	font-weight		: bold;	
	margin-top		: 12px;
	margin-bottom	: 12px;
}

.searchResult {
	background-color: #e5ecf9;
	height			: 36px;
	padding			: 12px;
}

.searchResult .menu {
	float			: right;
	text-align		: right;
}

#friendRequests {
	border			: 1px solid #7aa5d6;
	margin-right	: 12px;
	margin-bottom	: 12px;
	padding			: 12px;
}

.friend {
	background-color:#f0f0f0;
	float			: left;
	width			: 84px;
	margin-right	: 5px;
	overflow		: hidden;
	margin-bottom	: 4px;
}

.friend .thumb {
	height			: 60px;
	overflow		: hidden;
	text-align		: center;
	margin-bottom	: 3px;
}

.friend .uname {
	font-size		: 11px;
	line-height		: 12px;
	text-align		: center;
	padding			: 0 3px 3px;
}

.app {
	background-color: #e5ecf9;
	padding			: 12px;
	height			: 60px;	
	margin-bottom	: 6px;
	overflow		: hidden;
}

.app .app_thumbnail {
	overflow		: hidden;
	float 			: left;
	width			: 120px;
	height			: 60px;
	margin-right	: 6px;	
}

.app .options {
	float			: right;
	padding			: 6px;
	width			: 100px;	
	height			: 60px;
	text-align		: right;
}

.application_link {
	font-size		: smaller;
	width			: 110px;
	height			: 12px;
	line-height		: 12px;
	overflow		: hidden;
}

.settings_label {
	float			: left;
	width			: 180px;
	font-weight		: bold;
	color			: #3366CC;
}

.settings_input {
	width			: 220px;	
}

.gadgets-gadget-chrome {
  margin-bottom: 12px;
  border: 1px solid #7aa5d6;
  width	: 476px;
}

.gadgets-gadget {
  border: none;
}

.gadgets-gadget-title-bar {
  padding: 2px 4px;
  background-color: #e5ecf9;
}

.gadgets-gadget-title {
  font-weight: bold;
  color: #3366cc;
}

.gadgets-gadget-title-button-bar {
  font-size: smaller;
  float: right;
}

.gadgets-gadget-user-prefs-dialog {
  background-color: #e5ecf9;
}

.gadgets-gadget-user-prefs-dialog-action-bar {
  text-align: center;
  padding-bottom: 4px;
}

.gadgets-gadget-title-button {
	margin-right: 6px;
}

.gadgets-gadget-content {
  padding: 4px;
}

.gadgets-log-entry {
}
